.paginationButton.pageLabel {
  background-color: #eee !important;
  color: #555 !important;
  font-weight: bold;
  /* border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1); */
  cursor: default;
}