.wrapper {
  cursor: pointer;
  box-shadow: none;

  transition: ease-out 0.25s all;
}

.wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: fadeOut 0.25s ease-in both;
}
.wrapper .overlay h3 {
  color: white;
  opacity: 0;
  
  animation: fadeOut 0.25s ease-in both;
}

.wrapper:hover {
  box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.25) !important;
  
  transition: ease-in all 0.25s;
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;

  background-color: rgba(0,0,0,0.1);

  display: flex;
  align-items: center;
  justify-content: center;
}

.box .icon {
  width: 50%;
  height: 50%;

  color: rgba(0,0,0,0.4);
}

