body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, #fefefe 0%, #dfdfdf 50%, #fefefe 100%);
  background-repeat: no-repeat
  ;
}

.App {
  text-align: center;
}

.main {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
}

.pageTitle {
  font-weight: bold !important;
  font-size: 3.5em !important;
  text-align: center;
}
