.searchBoxRoot {
  border-radius: 30px !important;
  padding-left: 15px;
  padding-right: 0px !important;
  box-shadow: none;

  transition: linear all 0.25s;
}
.searchBoxRoot fieldset {
  border: 2px solid rgba(0,0,0,0.2);

  transition: linear all 0.25s;
}

.searchBoxRoot:hover:not(:focus-within) fieldset {
  border-color: rgba(0,0,0,0.3) !important;
  transition: linear all 0.25s;
}
.searchBoxRoot:focus-within fieldset {
  border-color: #1976d2 !important;
  transition: linear all 0.25s;
}

.searchBoxRoot:focus-within {
  box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.25) !important;

  transition: linear all 0.25s;
}

.searchButton {
  border-radius: 0px 30px 30px 0px !important;
  padding: 16px !important;
  z-index: 1; /* sit on top of the field so it looks more homogenous with the input */
  color: white !important;
  box-shadow: unset !important;
}

.checkGroup {
  justify-content: space-evenly;
}